.App {
  background: #eee;
  transition: all 2s ease-in-out;
  width: fit-content;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  position: fixed;
  bottom: 0;
  right: 30px;
}

.slider .value {
  margin-right: 20px;
}

.konvajs-content {
  /* width: 100% !important;   */
  display: flex;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

canvas {
  /* width: 100% !important;
  height: 100% !important; */
}
